/* courses.css */

.course-name {
  font-size: 50px;
  font-family: Helvetica;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.course-desc {
  font-size: 40px;
  font-family: Helvetica;
  margin-top: 1%;
}

.course-details-name {
  font-size: 36px;
  padding-top: 20px;
  font-family: Helvetica;
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: left;
}

.course-details-desc {
  font-size: 20px;
  font-family: Helvetica;
  margin-top: 10px;
}

.course-details-diff {
  font-size: 20px;
  font-family: Helvetica;
  font-weight: bold;
  margin-top: 10px;
}

.tutorial-link {
  text-decoration: none;
  color: #1c9cbc;
}

.tutorial-link:hover {
  text-decoration: none;
}

.course-tutorial-btn {
  color: black;
  margin-top: 1%;
  font-size: 30px;
  text-align: center;
  background-color: azure;
  font-family: Helvetica;
  font-weight: bold;
  text-decoration: none !important;
  padding: 10px 20px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  border: 3px solid black;
}

.course-tutorial-btn:hover {
  font-family: Helvetica;
  color: #aeeaf3;
  cursor: pointer;
  background-color: black;
  border-color: #aeeaf3;
  transition: all 0.3s ease-in-out;
}

.course-tutorial-btn:hover::before {
  width: 100%;
}

.course-redirect {
  font-size: 35px;
  margin-left: 20%;
  margin-top: 5%;
  padding: 10px;
  font-family: Helvetica;
  align-items: center;
  justify-content: center;
}

.course-redirect-link {
  font-family: Helvetica;
  font-weight: bold;
  cursor: pointer;
  color: #1c9cbc;
  border-color: white;
}

.returntocourses {
  font-family: Helvetica;
  cursor: pointer;
  color: white;
  border-color: white;
  margin-left: 40%;
  font-size: 24px;
}

.course-container {
  background-color: #e8fdff;
  border: 2px solid #1c9cbc;
  padding: 40px;
  padding-bottom: 2%;
  margin-top: 2%;
  border-radius: 5px;
  color: inherit;
}

.courses-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1%;
  margin-bottom: 1%;
  gap: 25px;
  text-decoration: none;
}

.course-card {
  margin-left: 3%;
  margin-right: 3%;
  background-color: #e8fdff;
  border: 2px solid #1c9cbc;
  padding: 20px;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
}

.course-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  /* Enlarges the card on hover */
  transition: transform 0.3s, box-shadow 0.3s;
}

.course-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.course-desc {
  font-size: 1rem;
  justify-content: center;
}

.course-link {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.courses-buttons-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: flex-end;
  /* Align items at the flex-end (bottom) */
  margin-top: 5%;
}

.course-dropdown-container {
  display: flex;
  align-items: center;
  margin-top: 2%;
}

.course-dropdown {
  font-size: 16px;
  font-family: Helvetica;
  font-weight: bold;
  border: 2px solid #1c9cbc;
  padding: 12px;
  border-radius: 5px;
  color: #1c9cbc;
  background-color: #e8fdff;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
  /* Add margin to separate from the next button */
}

.courses-button {
  font-size: 16px;
  font-family: Helvetica;
  font-weight: bold;
  border: 2px solid #1c9cbc;
  padding: 12px;
  border-radius: 5px;
  color: #1c9cbc;
  background-color: #e8fdff;
  cursor: pointer;
  text-decoration: none;
  margin-right: 9px;
  margin-left: 6px;
  margin-top: 2%;
}

.courses-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  /* Enlarges the card on hover */
  transition: transform 0.3s, box-shadow 0.3s;
}

.course-redirect-link,
.returntocourses {
  color: #1c9cbc;
  border-color: #1c9cbc;
}

/* Add these styles to the end of Pages.css or Courses.css */

/* ShowTutorialPage styles */
.tutorialcontainer {
  max-width: 60%;
  margin: auto;
  padding: 20px;
  background-color: #E8FDFF;
  border: 2px solid #1c9cbc;
  border-radius: 5px;
  font-family: Helvetica;
  color: inherit;
  margin-top: 10%;
}

.tutorialvideo {
  display: flex;
  justify-content: center;
  margin-left: 5%;
  width: 90%;
  height: 550px;
  margin-bottom: 20px;
  border: 3px solid black;
  border-radius: 2px;
  margin-bottom: 5%;
}

.tutorialcontainer h2 {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  font-size: 28px;
  margin-bottom: 10px;
  color: #1c9cbc;
}

.tutorialcontainer ul {
  list-style-type: none;
  padding: 0;
}

.tutorialcontainer li {
  margin-bottom: 10px;
}

.tutorialcontainer button {
  background-color: azure;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  border: 3px solid black;
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;
}

.tutorialcontainer button:hover {
  color: #aeeaf3;
  background-color: black;
  border-color: #aeeaf3;
}


