.image-container {
    text-align: center;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  
  .homeimg {
    margin-left: 20%;
    display: flex;
    padding: 1rem;
  }
  
  .homeimg img {
    border: 3px solid #333;
    margin-top: 3%;
  }

  /* Media query for adjusting padding at different screen sizes */
  @media (max-width: 768px) {
    .homeimg {
      padding: 0.5rem; 
    }
  }
  