/* NavBar.css */

.header {
  position: relative;
  background-image: url('/public/img/codecoveheader.jpg'); /* Corrected image path */
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
  height: 83px;
  width: 100%;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 10px 20px; 
  position: absolute; 
  right: 0; 
  text-decoration: white;
}


.nav-links ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin: 0;
  padding: 0;
  background-color: transparent;
  
}

.nav-links a {
  color: white;
  background-color: transparent;
  text-decoration: none;
  margin: 0 50px; /* Adjust the spacing between links */
  font-size: 30px;
  font-display: bold;
  
}

.nav-links a:hover {
  background-color: white;
  color: #012068;
  border: 2px solid;
  border-color: #012068;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.discord-link img {
  background-color: transparent;
  width: auto; /* Adjust the size as needed */
  height: 35px; /* Adjust the size as needed */
}




