.header {
  position: fixed;
  background-image: url('/public/img/codecoveheaderblank.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 83px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -6px;
  margin-left: -9px;
  padding: 0 20px;
}

.left-section {
  display: flex;
  align-items: center;
}

.custom-title {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 5px;
  font-family: Helvetica;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-logo img {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin-top: 4px;
}

.nav-links ul {
  list-style: none;
  display: flex;
  align-items: center;
  height: 35px;
}

.nav-links li {
  margin: 0;
  padding: 0;
  background-color: transparent;
  height: 35px;
}

.nav-links a {
  color: #54b3d6;
  display: flex;
  background-color: transparent;
  text-decoration: none;
  margin: 0 25px;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  /* Cool css effect for hovering links */
  background-image: linear-gradient(
    to right,
    black,
    black 50%,
    white 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.nav-links a:before {
  content: '';
  background: #aeeaf3;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
}

.nav-links a:hover {
  background-position: 0;
}

.nav-links a:hover::before {
  width: 100%;
}

.discord-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.discord-icon {
  width: 40px;
  height: 35px;
  margin-top: 4px;
  transition: all 0.3s ease-in-out;
}

.discord-link:hover .discord-icon {
  filter: grayscale(0);
  animation: shake 0.7s;
}

.userbutton {
  width: 40px;
  height: 35px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.userbutton :hover {
  filter: grayscale(0);
  cursor: pointer;
  border: 2px;
  border-color: white;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

/* Css to shake icons when hovering */
@keyframes shake {
  0% { transform: translate(0, 0); }
  20% { transform: translate(-2px, 0); }
  40% { transform: translate(2px, 0); }
  60% { transform: translate(-2px, 0); }
  80% { transform: translate(2px, 0); }
  100% { transform: translate(0, 0); }
}
