html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: azure;
  overflow-x: hidden;
}

.title {
    font-size: 3vw;
    font-style: Helvetica;
    font-weight: bold;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin-left: 21%; 
}

.signinform {
    position: absolute;
    top: 50%;
    left: 63%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    padding: 10px;
}

.signedin {
    text-align: center;
    margin-top: 30px;
}

.footer {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
  font-family: Helvetica;  
  background-image: url('/public/img/codecoveheaderblank.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -9px;
  padding: 0 20px;
  bottom: 0;
  }

  .loginpagefooter {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
    font-family: Helvetica;  
    background-image: url('/public/img/codecoveheaderblank.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -9px;
    margin-top: 757px;
    padding: 0 20px;
    bottom: 0;
  }
  
  .container {
    max-width: 1200px; 
    margin: 0 auto;
  }
    
  .returnlink {
    text-align: center;
  }

  .getstartedbtn {
    font-size: 2vw;
    text-align: center;
    margin-top: 5px;
    margin-left: 42%;
    background-color: azure;
    font-family: Helvetica;
    font-weight: bold;
    text-decoration: none;
  }

  .getstartedbtn:hover {
    font-family: Helvetica;
    cursor: pointer;
    background-color: #1c9cbc;
    color:white;
    border-color:black;
  }

  .landing-page {
    background-image: url('C:\Users\jacob\Development\Projects\Visual Studio Code\Code Cove\CodeCoveLandingPageWireframe.pdf');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
  }

  .coursestitle {
    font-family: Helvetica;
    font-size: 38px;
    align-content: center;
    justify-content: center;
    margin-left: 40%;
  }

  .sign-in-link {
    font-family: Helvetica;
    font-weight: bold;
    color: #1c9cbc;
    font-size: 16px;
  }


  @media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

