html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: azure;
  overflow-x: hidden;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: url("https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?auto=format&fit=crop&q=80&w=2574&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}


.title {
    font-size: 3vw;
    font-style: Helvetica;
    font-weight: bold;
    margin-top: 8%;
    margin-bottom: 2%;
    padding: 0 10px;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin-left: 21%; 
  font-weight: bold;
}


.signinform {
    position: absolute;
    top: 50%;
    left: 63%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    padding: 10px;
}

.signedin {
    text-align: center;
    margin-top: 30px;
}

.footer {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
  font-family: Helvetica;  
  background-image: url('/public/img/codecoveheaderblank.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -9px;
  padding: 0 20px;
  bottom: 0;
  }

  .loginpagefooter {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
    font-family: Helvetica;  
    background-image: url('/public/img/codecoveheaderblank.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -9px;
    margin-top: 757px;
    padding: 0 20px;
    bottom: 0;
  }
    
  .returnlink {
    text-align: center;
  }
  
  .getstartedbtn {
    font-size: 2vw;
    text-align: center;
    margin-top: 3%;
    margin-left: 42%;
    font-family: Helvetica;
    font-weight: bold;
    text-decoration: none;
    border: 3px solid black; 
    color: black; 
    padding: 10px 20px; 
    transition: all 0.3s ease-in-out;
    position: relative;
  }
  
  .getstartedbtn:hover {
    color: #aeeaf3;
    border-color: #aeeaf3; 
    cursor: pointer;
    background-position: 0;
    background-color: black;
  }
  
  .getstartedbtn:hover::before {
    width: 100%;
  }
  
  .landing-page {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
  }

  .coursestitle {
    font-family: Helvetica;
    font-size: 38px;
    align-content: center;
    justify-content: center;
    margin-left: 40%;
  }

  .sign-in-link {
    font-family: Helvetica;
    font-weight: bold;
    color: #1c9cbc;
    font-size: 16px;
  }

  .authentication-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 9%;
    height: 100%; 
  }

  @media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

