.body {
  background-color: azure;
}

.title {
    font-size: 3vw;
    font-style: Helvetica;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin-left: 21%; 
}

.signinform {
    position: absolute;
    top: 75%;
    left: 63%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    padding: 10px;
    margin-top: 800px;
}

.signedin {
    text-align: center;
    margin-top: 30px;
}

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #012068;
    color: white;
    padding: 1rem 0;
    margin-top: 750px;
  }
  
  .container {
    max-width: 1200px; 
    margin: 0 auto;
  }
    
  .returnlink {
    text-align: center;
  }

  .getstartedbtn {
    font-size: 2vw;
    text-align: center;
    margin-top: 5px;
    margin-left: 25%;
    background-color: azure;
  }

  .getstartedbtn:hover {
    background-color:#012068;
    color:white;
    cursor: pointer;
  }

  .landing-page {
    background-image: url('C:\Users\jacob\Development\Projects\Visual Studio Code\Code Cove\CodeCoveLandingPageWireframe.pdf');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
  }
  

  @media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

